/* ================================
   STICKER ROOT (component root)
================================== */
.stickerRoot {
  --sticker-rotate: 30deg;
  --sticker-p: 10px;
  --sticker-peelback-hover: 30%;
  --sticker-peelback-active: 40%;
  --sticker-peel-easing: power3.out;
  --sticker-peel-hover-easing: power2.out;
  --sticker-start: calc(-1 * var(--sticker-p));
  --sticker-end: calc(100% + var(--sticker-p));
  --sticker-shadow-opacity: 0.6;
  --sticker-lighting-constant: 0.1;
  --peel-direction: 0deg;

  position: relative;
  display: inline-block;
}


/* ================================
   STICKER CONTAINER
================================== */
.stickerContainer {
  position: relative;
  transform: rotate(var(--peel-direction));
  transform-origin: center;
}

.stickerContainer * {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}


/* ================================
   MAIN STICKER
================================== */
.stickerMain {
  clip-path: polygon(
    var(--sticker-start) var(--sticker-start),
    var(--sticker-end) var(--sticker-start),
    var(--sticker-end) var(--sticker-end),
    var(--sticker-start) var(--sticker-end)
  );
  transition: clip-path 0.6s ease-out;
  filter: url(#dropShadow);
  position: absolute;
  inset: 0;
}

.stickerLighting {
  filter: url(#pointLight);
}

.stickerImage {
  transform: rotate(var(--sticker-rotate));
  width: var(--sticker-width);
  display: block;
}


/* ========== Hover / Touch Peel (Main) ========== */
.stickerContainer:hover .stickerMain,
.touchActive .stickerMain {
  clip-path: polygon(
    var(--sticker-start) var(--sticker-peelback-hover),
    var(--sticker-end) var(--sticker-peelback-hover),
    var(--sticker-end) var(--sticker-end),
    var(--sticker-start) var(--sticker-end)
  );
}

.stickerContainer:active .stickerMain {
  clip-path: polygon(
    var(--sticker-start) var(--sticker-peelback-active),
    var(--sticker-end) var(--sticker-peelback-active),
    var(--sticker-end) var(--sticker-end),
    var(--sticker-start) var(--sticker-end)
  );
}


/* ================================
   FLAP IMAGE
================================== */
.flap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(-100% - var(--sticker-p) - var(--sticker-p)); /* flap starts above sticker */
  clip-path: polygon(
    var(--sticker-start) var(--sticker-start),
    var(--sticker-end) var(--sticker-start),
    var(--sticker-end) var(--sticker-start),
    var(--sticker-start) var(--sticker-start)
  );
  transform: scaleY(-1);
  transition: all 0.6s ease-out;
  z-index: 1; /* make sure flap is visible */
}

.flapLighting {
  filter: url(#pointLightFlipped);
}

.flapImage {
  transform: rotate(var(--sticker-rotate));
  width: var(--sticker-width);
  filter: url(#expandAndFill);
}


/* ========== Hover / Touch Peel (Flap) ========== */
.stickerContainer:hover .flap,
.touchActive .flap {
  clip-path: polygon(
    var(--sticker-start) var(--sticker-start),
    var(--sticker-end) var(--sticker-start),
    var(--sticker-end) var(--sticker-peelback-hover),
    var(--sticker-start) var(--sticker-peelback-hover)
  );
  top: calc(-100% + 2 * var(--sticker-peelback-hover) - 1px);
}

.stickerContainer:active .flap {
  clip-path: polygon(
    var(--sticker-start) var(--sticker-start),
    var(--sticker-end) var(--sticker-start),
    var(--sticker-end) var(--sticker-peelback-active),
    var(--sticker-start) var(--sticker-peelback-active)
  );
  top: calc(-100% + 2 * var(--sticker-peelback-active) - 1px);
}


/* ================================
   MOBILE TWEAKS
================================== */
@media (hover: none) and (pointer: coarse) {
  .stickerContainer {
    touch-action: none;
  }
}

