/* GradualBlur.module.css */

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner > div {
  -webkit-backdrop-filter: inherit;
  backdrop-filter: inherit;
}

.container {
  isolation: isolate;
}

@supports not (backdrop-filter: blur(1px)) {
  .inner > div {
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
  }
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
